annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
blis==1.3.3
catalogue==2.0.10
cattrs==22.2.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
cloudpathlib==0.24.0
colorama==0.4.6
confection==1.3.3
cymem==2.0.13
datasketch==1.5.8
decorator==5.3.1
Deprecated==1.2.13
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup==1.0.0rc9
fastapi==0.85.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
iniconfig==1.1.1
Jinja2==3.1.6
langcodes==3.3.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
murmurhash==1.0.15
numpy==2.4.6
omegaconf==2.2.3
packaging==26.2
pandas==3.0.3
pathy==0.6.2
plac==1.3.5
pluggy==1.0.0
preshed==3.0.13
psycopg2==2.9.5
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2022.5
PyYAML==6.0.3
redis==4.3.4
requests==2.34.2
requests-cache==0.9.6
rich==15.0.0
rq==1.11.1
scipy==1.17.1
setuptools==82.0.1
shellingham==1.5.4
six==1.16.0
smart_open==7.6.1
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
starlette==0.20.4
thinc==8.3.13
tomli==2.0.1
tqdm==4.67.3
typer==0.26.2
typing-inspection==0.4.2
typing_extensions==4.15.0
url-normalize==1.4.3
urllib3==2.7.0
uvicorn==0.19.0
validators==0.20.0
wasabi==1.1.3
weasel==1.0.0
wheel==0.47.0
wrapt==2.2.1
