MIN_COMMIT_SCORE=65
GIT_CACHE=/tmp/gitcache
PROSPECTOR_GIT_CACHE=/tmp/proscache
PROSPECTOR_PATH=/home/jef/projects/Morefixes/prospector/
PROSPECTOR_PYTHON_PATH=/home/jef/projects/Morefixes/prospector/venv/bin/python
PATCH_FILE_STORAGE_PATH=/home/jef/projects/Morefixes/patchesdir/cvedataset-patches
CVE_DATA_PATH=/tmp/cvedata1112222
POSTGRES_USER=postgrescvedumper
POSTGRES_PORT=5432
POSTGRES_DBNAME=postgrescvedumper
POSTGRES_DB=postgrescvedumper
POSTGRES_PASSWORD=a42a18537d74c3b7e584c769152c3d
REDIS_URL=redis://localhost:6379/0
PYTHONPATH=.
POSTGRES_HOST=127.0.0.1
DB_HOST=127.0.0.1
NVD_APIKEY=
